:root {
    --todo-width: 250px
}

.todo-card-container {
    display: flex;

}

.todo-card {
    margin-right: var(--offset-md);
    min-width: var(--todo-width);
    max-width: var(--todo-width);
    padding: var(--offset-xs);
    height: max-content;
}

.add-todo-container {
    height: 40px;
    border-radius: 5px;
    border: 1px dashed #666;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.add-todo-container:hover {
    box-shadow: 2px 2px 10px 0 rgba(102, 102, 102, 0.1), -2px -2px 10px 0 rgba(102, 102, 102, 0.1);
    cursor: pointer;
}

.done-todo-container {
    padding: var(--offset-sm);
    border-radius: 5px;
    display: flex;
    opacity: 0.7;
    flex-direction: column;
    border: 1px solid #d6d6d6;
    background-color: var(--white);
    box-shadow: 0 var(--offset-sm) var(--offset-md2) 0 #d6d6d6;
    cursor: grab;
    transition: all 0.2s;
}

.done-todo-title {
    font-weight: bold;
    padding-left: var(--offset-sm) ;
}

.todo-card-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 250px;
    background-color: lightgrey;
    opacity: 0.3;
    margin-right:  var(--offset-md);
}
