.item-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    top: 0; left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.item-modal-container {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    margin: auto;
    min-height: 550px;
    max-height: 600px;
    min-width: 500px;
    max-width: 800px;
    border: 1px solid #d6d6d6;
    background-color: var(--white);
    border-radius: 4px;
    padding: var(--offset-md);
}
.item-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-modal-header-left {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: var(--offset-sm);
}
.item-modal-header-icon {
    font-size: 20px;
}
.item-modal-header-icon:last-child {
    cursor: pointer;
}

.item-modal-header-left-title {
    font-size: 20px;
    width: 100%;
    padding: 2px 5px;
    border: none;
    margin-left: var(--offset-sm);
}
.item-modal-header-left-title:hover {
    border-radius: 5px;
    background-color: rgba(102, 102, 102, .1);
}

.item-modal-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: var(--offset-md);
}
.item-modal-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-modal-sidebar-title {
    margin-bottom: var(--offset-sm);
}
